.about-container {
  display: flex;
  color: black;
  align-items: self-start;
  text-align: start;
  margin: 8rem 5rem;
  gap: 2rem;
}
.about-left{
  display: flex;
  flex-direction: column;
  align-self: safe;
  justify-content: start;
  text-align: justify;
  width: 50%;
  margin-right: 2.5rem;
}
.about-left h2 {
  font: 600 2.2rem "Inter", sans-serif;
}
.about-left p{
  font: 400 1rem "Inter", sans-serif;
  color:#5b5b5b
}
.about-left-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 3rem;
}
.about-left-info svg {
  width: 38px;
  height: 38px;
}
.about-left-info h2 {
  font: 600 1rem "roboto", sans-serif;
}
.about-left-info p {
  font: 300 1rem "Roboto", sans-serif;
}
.rect {
  position: absolute;
  z-index: -1;
  margin-left: 18px;
  margin-top: 5px;
  background: #cbd5d1;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
/* right side css */
.about-right {
  width: 50%;
}

.image-container img {
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  margin: -9rem 7rem;
  display: flex;
  width: 400px;
  height: 420px;
}
