.services-container {
  display: flex;
  margin: 5rem;
  gap: 1rem;
}
.services-left {
  width: 75%;
}
.image-1 {
  width: 300px;
}
.image-2 {
  width: 235px;
  height: 235px;
  border-radius: 20px;
  position: relative;
  top: 65px;
  left: 200px;
}
.image-3 {
  position: relative;
  z-index: 1;
  width: 380px;
  bottom: 175px;
  left: 105px;
  border-radius: 20px;
}
.image-4 {
  position: relative;
  z-index: 2;
  top: 5px;
  width: 355px;
  height: 450px;
  border-radius: 20px;
}
.services-right {
  width: 50%;
  margin: 3rem 0;
}
.services-info {
  display: flex;
  margin: 0 -50px;
}
.services-title {
  font: 600 2.5rem "Inter", sans-serif;
}
.services-container p {
  font: 300 0.9rem "Inter", sans-serif;
  line-height: 1.5;
}
.services-info ul li {
  display: flex;
}

.services-info ul li span {
  line-height: 1.5;

  font: 300 0.9rem "Inter", sans-serif;

  padding: 5px;
}
.services-info ul li span svg {
  width: 10px;
  margin-top: 5px;
  height: 10px;
  color: rgb(56, 97, 104);
  margin-right: 1px;
}
.explore-btn {
    justify-content: center;
  color: rgb(255, 255, 255);
  background: #000000;
  width: 140px;
  font: 600 16px "Inter", sans-serif;
}